<a href="https://colab.research.google.com/github/Muskan2320/Data-Science/blob/main/1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
import numpy as np

  The 'Pandas' package is a fast, flexible tool used to analyze data. It helps in reading and updating the files like csv files, excel, etc.

  The os module of the Python is normally used to manipulate the installed operating system as well as the PC file system. 

  The 'numpy' package is used to work woth arrays. It can be used for performing mathematical operations and support several other domain like linera algebra, metrices, etc.

  After importing the required packages, now uploading Toyota dataset from the device. Toyota dataset is the data of the cars with the 10 different features specified in the dataset. These features include the fuel type of the car the car i.e. whether it's fuel type is diesel or petrol, similarly other featres like horse power, price of the car, number of doors in the car, etc.

In [2]:
from google.colab import files
 
 
uploaded = files.upload()

Saving Toyota.csv to Toyota.csv

'read_csv' is the command used to read a comma separated file(csv). Simillarly, in Pandas 'read_excel' is used to read excel files. Pandas reads all the blank values 'NaN'. 

Reading csv files sometimes create an 'Unnnamed: 0' as the first column of the dataframe. So, to avoid this we can specify an argument 'index_col= 0' to read_csv() function, then it reads in the first column as the index.

In the Toypta dataset some values are neither blank nor NaN, they may have some special characters like "??", etc. These values are replaced with NaN using an arguement 'na_values = ['list of unwanted values']' to read_csv() function, now pandas reads these unknown values as NaN.

In [3]:
data = pd.read_csv('Toyota.csv',index_col=0,na_values=["??","????"])

data

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544.0,Petrol,86.0,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86.0,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86.0,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86.0,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110.0,0.0,0,1600,5,1114

It is possible that we sometimes copy of data may be needed because it is possible that we don't want to change the original data. 
Copy is of two types:
    1. Shallow Copy
    2. Deep Copy

Shallow copy: It can be done by "shallow_cpy = dataframe_name.copy(deep=False)". By default parameter 'deep' is True. It creates a new object that shares the refrence to original object. Any changes in shallow copy are reflected in dataframe.

Deep Copy: It can be done by "deep_cpy = dataframe_name.copy(deep=True)". It creates a new object copyin the original object. Any changes in deep copy will not reflect in original object.

In [4]:
samp = data.copy(deep=True)

samp

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544.0,Petrol,86.0,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86.0,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86.0,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86.0,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110.0,0.0,0,1600,5,1114

Get row Labels

In [5]:
samp.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

Get column labels

In [6]:
samp.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

Get shape of dataframe (row, column)

In [7]:
samp.shape

(1436, 10)

In [8]:
samp.size

14360

Memory used by each column in bytes

In [9]:
samp.memory_usage()

Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

Number of dimensions/ axis (here are two dimensions one row and other column)

In [10]:
samp.ndim

2

##Indexing

Dataframe_name.head() return the first five rows of the dataframe. Also, if you pass an argurment to head, for example dataframe_name.head(n) then it returns the firt 'n' rows of dataframe.

In [11]:
samp.head(6)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170
5,12950,32.0,61000.0,Diesel,90.0,0.0,0,2000,3,1170

Dataframe_name.tail() return the last five rows of the dataframe. Also, if you pass an argurment to tail, for example dataframe_name.tail(n) then it returns the last 'n' rows of dataframe.

In [12]:
samp.tail(5)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,7500,NaN,20544.0,Petrol,86.0,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86.0,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86.0,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86.0,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110.0,0.0,0,1600,5,1114

For accessing a single value from dataframe 'at' and 'iat' can be used. Dataframe_name.at[row, col_label] i.e. 'at' is used when you know the label of the column but don't remember it's exact integer position. 
Dataframe_name.iat[row, col_pos] i.e. 'iat' is used when you know the exact integer position of the column.

In [13]:
samp.at[3,'Weight']

1165

In [14]:
samp.iat[5,4]

90.0

For accessing a group of rows and columns at one time from dataframe 'loc' and 'iloc' can be used. In both 'loc' and 'iloc' if only row index is passed then it displays all the columns of that row. Row index can be integer, list of integers, slice objects with integers.

In [15]:
samp.loc[2]

Price          13950
Age             24.0
KM           41711.0
FuelType      Diesel
HP              90.0
MetColor         NaN
Automatic          0
CC              2000
Doors              3
Weight          1165
Name: 2, dtype: object

In [16]:
samp.iloc[[2,5,6]]

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
5,12950,32.0,61000.0,Diesel,90.0,0.0,0,2000,3,1170
6,16900,27.0,NaN,Diesel,NaN,NaN,0,2000,3,1245

In [17]:
samp.loc[2:4]

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170

'loc' column indexing is purely label based, it can be individual label or list of labels.

In [18]:
samp.loc[:3,'FuelType']

0    Diesel
1    Diesel
2    Diesel
3    Diesel
Name: FuelType, dtype: object

In [19]:
samp.loc[2:5,['KM','FuelType']]

        KM FuelType
2  41711.0   Diesel
3  48000.0   Diesel
4  38500.0   Diesel
5  61000.0   Diesel

'iloc' column indexing is purely integer based, it can be integer, list of integers, slice objects with integers.

In [20]:
samp.iloc[:, 3]

0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434       NaN
1435    Petrol
Name: FuelType, Length: 1436, dtype: object

In [21]:
samp.iloc[[2,3],[4,5,6,7]]

     HP  MetColor  Automatic    CC
2  90.0       NaN          0  2000
3  90.0       0.0          0  2000

In [22]:
samp.iloc[:4, 4:5]

     HP
0  90.0
1  90.0
2  90.0
3  90.0

Get the data_type of each column

In [23]:
samp.dtypes

Price          int64
Age          float64
KM           float64
FuelType      object
HP           float64
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

Get the count of unique data_types in dataframe. In earlier version of python get_dtype_counts() was used.

In [24]:
samp.dtypes.value_counts()

int64      4
float64    4
object     2
dtype: int64

Select only desired data_types

In [25]:
samp.select_dtypes(exclude=[float])  ## All the columns with float data_type are not displayed

      Price FuelType  Automatic    CC  Doors  Weight
0     13500   Diesel          0  2000  three    1165
1     13750   Diesel          0  2000      3    1165
2     13950   Diesel          0  2000      3    1165
3     14950   Diesel          0  2000      3    1165
4     13750   Diesel          0  2000      3    1170
...     ...      ...        ...   ...    ...     ...
1431   7500   Petrol          0  1300      3    1025
1432  10845   Petrol          0  1300      3    1015
1433   8500   Petrol          0  1300      3    1015
1434   7250      NaN          0  1300      3    1015
1435   6950   Petrol          0  1600      5    1114

[1436 rows x 6 columns]

Get the summary/information of the dataframe.

In [26]:
samp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 155.7+ KB

Get unique values in any column

In [27]:
np.unique(samp['Doors'])

array(['2', '3', '4', '5', 'five', 'four', 'three'], dtype=object)

Replace unwanted values with desired values.

In [28]:
samp['Doors'].replace('three',3,inplace=True)     ## 'three' replaced by '3'
samp['Doors'].replace('four',4,inplace=True)
samp['Doors'].replace('five',5,inplace=True)

In [29]:
# samp['Doors'] = samp['Doors'].astype('int64')
# np.unique(samp['Doors'])

Data_types of some columns may not be appropriate because of some unwanted values (example, data_type of doors column was object because it had some string values like three, four, five).

Correcting the data_type is essential beecause it can reduce the memory usage of that column. So, these data_types are selected and changed by observing values in thatt column.

In [30]:
samp['MetColor']=samp['MetColor'].astype('category')      ## Data_type of MetColor changed to category
samp['Automatic']=samp['Automatic'].astype('object')
samp['MetColor'].nbytes                                   ## Displays total bytes consumed by the MetColor

1452

Get the number of null values in each column

In [31]:
samp.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

## Insert a new column

In [32]:
samp.insert(10,'Price_Class',"")           ## insert(col_index, col_label, values inserted in the column)

Filling values in the new_column named 'Price_Class'

In [33]:
for i in range(len(samp['Price'])):
  if samp['Price'][i]<=8450:
    samp['Price_Class'][i]="Low"
  elif samp['Price'][i]>11950:
    samp['Price_Class'][i]="High"
  else:
    samp['Price_Class'][i]="Medium"

<ipython-input-33-99b5b209dcfe>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samp['Price_Class'][i]="High"
<ipython-input-33-99b5b209dcfe>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samp['Price_Class'][i]="Low"
<ipython-input-33-99b5b209dcfe>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samp['Price_Class'][i]="Medium"

Get count of all three categories in 'Price_Clas' column

In [34]:
samp['Price_Class'].value_counts()

Medium    751
Low       369
High      316
Name: Price_Class, dtype: int64

In [35]:
samp.insert(11,'Age_Converted',0)                      ## Inserting a column named 'Age_converted' with initial value '0'

Convert age from months to year

In [36]:
def c_convert(val):
  val_converted = val/12
  return val_converted

samp['Age_Converted']=c_convert(samp['Age'])
samp['Age_Converted']=round(samp['Age_Converted'],1)   ## Round value to one decimal place

In [37]:
samp.insert(12,'KM_per_month',0)                       ## Inserting a column named 'KM_per_month' with initial value '0'

Single function with parameters age and km returning single output as list of converted age from months to year and km covered per month.

In [38]:
def c_convert(val1,val2):
  val_converted = val1/12
  ratio = val2/val1
  return [val_converted,ratio]

samp['Age_Converted'],samp['KM_per_month']=c_convert(samp['Age'],samp['KM'])
samp['Age_Converted']=round(samp['Age_Converted'],1)
samp['KM_per_month']=round(samp['KM_per_month'],1)       ## Round value to one decimal place

In [39]:
samp['KM_per_month']

0       2042.9
1       3171.2
2       1738.0
3       1846.2
4       1283.3
         ...
1431       NaN
1432       NaN
1433       NaN
1434       NaN
1435       0.0
Name: KM_per_month, Length: 1436, dtype: float64

## Exploratory Data Analysis

Create Frequency Table

In [40]:
pd.crosstab(samp['FuelType'],columns='count',dropna=True)   ## dropna = True means dropping the rows with NaN values 
## column shows the count of different categories in 'FuelType' column

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

In [41]:
pd.crosstab(samp['Automatic'],columns=samp['FuelType'],dropna=True)  ## Here row and column of table are two different columns of dataframe

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

Cross_table with multiple columns

In [42]:
pd.crosstab(samp['Automatic'],columns=[samp['FuelType'], samp['Price_Class']],rownames = ['Row'], colnames = ['Column_1', 'Column_2'], dropna=True)  
## Here 'Automatic' column forms the row
## Row is named 'Row' using arguement rownames
## Here 'FuelType' and 'Price_Class' forms the two columns
## Columns are named 'Column_1' and 'Column_2' using arguement colnames

Column_1  CNG            Diesel            Petrol
Column_2 High Low Medium   High Low Medium   High  Low Medium
Row
0           2   5      8     40  54     50    234  275    595
1           0   0      0      0   0      0     18   11     44

Joint probability changes number to proportion. It is probability of two events happening at the same time

In [43]:
pd.crosstab(samp['Automatic'],columns=samp['FuelType'],normalize=True,dropna=True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

Marginal Probability = Probability of occurence of single event

In [44]:
pd.crosstab(samp['Automatic'],columns=samp['FuelType'],margins=True,normalize=True,dropna=True)

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

Conditional Probability = Probability of event A given that event B has already occured

In [45]:
pd.crosstab(samp['Automatic'],columns=samp['FuelType'],margins=True,normalize='index',dropna=True)    ## normalize='index' mean normalize over each row -> row sum is one
## Given type of gear box, probability of different fuel_type

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

In [46]:
pd.crosstab(samp['Automatic'],columns=samp['FuelType'],margins=True,normalize='columns',dropna=True)   ## normalize='column' mean normalize over each column -> column sum is one

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

Correlation = strength of association between two variables

In [47]:
num_samp = samp.select_dtypes(exclude=[object])      ## Creating a new copy of samp data excluding all object data_types

In [48]:
num_samp.corr()  #num_samp.corr(method='pearson') by default method is pearson

,Price,Age,KM,HP,CC,Weight,Age_Converted,KM_per_month
Price,1.000000,-0.878407,-0.574720,0.309902,0.165067,0.581198,-0.878062,-0.038706
Age,-0.878407,1.000000,0.512735,-0.157904,-0.120706,-0.464299,0.999826,-0.114745
KM,-0.574720,0.512735,1.000000,-0.335285,0.299993,-0.026271,0.512502,0.729894
HP,0.309902,-0.157904,-0.335285,1.000000,0.053758,0.086737,-0.157655,-0.273575
CC,0.165067,-0.120706,0.299993,0.053758,1.000000,0.651450,-0.120717,0.433468
Weight,0.581198,-0.464299,-0.026271,0.086737,0.651450,1.000000,-0.464600,0.330865
Age_Converted,-0.878062,0.999826,0.512502,-0.157655,-0.120717,-0.464600,1.000000,-0.115104
KM_per_month,-0.038706,-0.114745,0.729894,-0.273575,0.433468,0.330865,-0.115104,1.000000